.nav-bar {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;

  .nav-logo {
    display: inline-block;
    background-size: contain;
    background-image: url($themed-logo-path);
    height: 10em;
    width: 10em;
  }

  .nav-links {
    display: inline-block;
    float: right;
    height: 3em;

    .nav-link {
      padding: 1em;
    }
  }
}