$themed-font-family: "Droid Sans Mono", sans-serif;
$themed-logo-path: "../assets/captain-murphy.jpg";
$themed-letter-spacing: .08em;
$themed-line-height: 1.7em;
$themed-color: #cccccc;

$themed-color-1: #445D6E;
$themed-color-2: #F6AE2D;
$themed-color-3: #007EA7;
$themed-color-4: #496B81;
$themed-color-5: #F26419;
$themed-color-6: #22B8EB;

$light-text-color: $themed-color;
$text-color: $themed-color-4;
$dark-text-color: $themed-color-1;

$break-small: 550px;
$break-large: 1200px;

body {
  letter-spacing: $themed-letter-spacing;
  line-height: $themed-line-height;
  color: $text-color;

  a {
    font-weight: 700;
    text-decoration: none;
    color: $themed-color-6;
  }
  h1 {
    color: $dark-text-color;
  }
}
