%base-article {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    text-transform: uppercase;
    font-family: $themed-font-family;
  }
  .article-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .detail-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &div, &p {
        align-self: center;
      }

      .category {
        flex: 1 auto auto;
      }

      .date {
        flex: 1 auto auto;
        font-style: italic;
        font-size: .9em;
      }
    }
    .social-media-share {
      display: flex;
      flex-direction: row;
      padding: .5em;
      @media screen and (max-width: $break-small) {
        justify-content: space-around;
      }
      .media-container {
        margin: 0 .5em 0 0;
        padding: 0 .25em 0 .25em;
        border: .07em solid #cccccc;
        @media screen and (max-width: $break-small) {
          border: none;
          .media-count {
            display: none;
          }
        }
        .fa {
          width: 1.5em;
          height: 1.5em;
        }
        .media-count {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
    @media screen and (max-width: $break-small) {
      display: block;
    }
  }

  .keywords {
    span {
      color: $light-text-color;
      font-size: .8em;
      font-style: italic;
      padding: 0 .25em 0 .25em;
    }
  }
}

.article-preview {
  @extend %base-article;
  padding: 1em;
  .content {
    a {
      float: right;
    }
  }
  .dividing-line {
    border-top: .1em solid #cccccc;
  }
}

.article {
  @extend %base-article;
  padding: 1em;

  .content {
    div {
      padding: .5em 0 .5em 0;

      &:last-child {
        padding: .5em 0 2em 0;
      }
    }
  }
}



