.body {

  .container-pad {
    display: inline-block;
    width: 10%;
  }

  .body-container {
    display: inline-block;
    width: 80%;
  }

  .alert {
    border: dashed red thin;
    h1 {
      text-align: center;
      padding: 10px;
    }

    p {
      text-align: center;
    }
  }
}