.body {
  display: flex;
  flex: 1 0 auto;

  .container-pad {
    flex: 0 0 5em;
  }

  .body-container {
    flex: 1;
  }

  .alert {
    border: dashed red thin;
    h1 {
      text-align: center;
      padding: 10px;
    }

    p {
      text-align: center;
    }
  }

  .article {
    background-color: red;
  }
}