.nav-bar {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 70px;

  .nav-logo {
    display: inline-block;
    background-size: contain;
    background-image: url("../assets/captain murphy.jpg");
    height: 70px;
    width: 70px;
  }

  .nav-links {
    display: inline-block;
    float: right;
    height: 50px;

    .nav-link {
      padding: 15px 15px 15px 15px;
    }
  }
}