@import 'reset';
@import 'blog/app';
@import 'font-awesome/scss/font-awesome';

html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
      .app {
        height: 100%;
      }
    }
  }
}
